body {
  margin: 0;
  background-image: url('/Image/hero-pg-image-RESIZE-1624.jpg'); /* Replace with your actual image path */
  background-size: contain;
  background-position: 0 -340px; /* Adjusts the position of the background image */
  background-color: #f0f0f0; /* Fallback color */
  background-repeat: no-repeat;
}